.App {
  font-family: Poppins, sans-serif;
  text-align: center;
  background: #fff;
  max-width: 600px;
  margin: 50px auto;
  padding: 40px;
  box-shadow: 0 30px 50px rgba(10, 65, 74, 0.1);
  border-radius: 20px;
}
body {
  background: #f0f7f7;
}
