header {
  border-bottom: 1px solid #f0f7f7;
  padding: 0 0 20px 0;
}

.Search-form-bar {
  font-family: Poppins, sans-serif;
  background: #f0f7f7;
  border: none;
  border-radius: 10px;
  width: 75%;
  padding: 15px 20px;
  font-size: 18px;
  box-shadow: 0 30px 50px rgba(10, 65, 74, 0.1);
}

.Search-form-button {
  font-family: Poppins, sans-serif;
  color: #f0f7f7;
  background: #5fc7c7;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  padding: 15px 25px;
  font-size: 18px;
  box-shadow: 0 30px 50px rgba(10, 65, 74, 0.1);
  cursor: pointer;
}
